  {{#if answer.selected}}
    {{fa-icon "check" size=50}}
  {{else}}
    {{fa-icon answer.icon size=50}}
  {{/if}}
  <h4>{{m-t answer "text"}}</h4>
  {{#bs-popover delay=500 triggerEvents="hover" placement="bottom" title="Description"}}
    {{m-t answer "description"}}
  {{/bs-popover}}

