<div class="answer-icon">
  {{#if answer.selected}}
    {{fa-icon "check" class="answer-icon"}}
  {{else}}
    {{fa-icon answer.icon prefix=answer.icon_prefix class="answer-icon"}}
  {{/if}}
</div>
<h4 class="answer-title">
  {{m-t answer "title"}}
</h4>

<div class="flex-fill"></div>
<div class="info badge badge-info">
  {{fa-icon 'info'}}
  {{#bs-popover triggerEvents="hover" placement="top" title="Description" delayShow='400'}}
    {{m-t answer "description"}}
  {{/bs-popover}}
</div>
<div class="price badge badge-secondary">
{{#if answer.question.hasCoefficient}}
  {{format-price
    (calculate-price
      answer.duration
      estimate.daily_rate
      answer.coefficient
    )
  }}
(+{{show-percent answer.coefficient}}% {{t 'answer.global'}})
{{else}}
  {{format-price
    (calculate-price
      answer.duration
      estimate.daily_rate
      estimate.totalCoefficient
    )
  }}
{{/if}}
</div>

