<h3>{{t "price-meter.title"}} :</h3>
<div class="text-right toggle-details {{if estimate.totalPrice "" "notvisible"}}">
  {{#bs-button class="btn-sm" onClick=(action "toggleDetails")}}
    {{#if showDetails}}
      {{t "price-meter.hide-details"}}
    {{else}}
      {{t "price-meter.show-details"}}
    {{/if}}
  {{/bs-button}}
</div>

{{#bs-collapse collapsed=(not showDetails)}}
  <table class="table table-dark table-sm">
    <tbody>
        {{#each estimate.sortedQuestions as |q|}}
          <tr class="bg-dark">
            <td colspan="3">{{m-t q.question  "title"}}</td>
          </tr>
          {{#each q.answers as |a|}}
            <tr class="bg-secondary">
              <td>{{m-t a  "title"}}</td>
              <td class="cell-days">
                {{calculate-duration  a.duration  estimate.totalCoefficient}}
                {{t "price-meter.day-letter"}}
              </td>
              <td class="cell-price">
                {{format-price
                  (calculate-price
                    a.duration
                    estimate.daily_rate
                    estimate.totalCoefficient
                  )
                }}
              </td>
            </tr>
          {{/each}}
        {{/each}}
    </tbody>
  </table>
{{/bs-collapse}}

<table class="table table-dark table-sm">
  <tbody>
    {{#if estimate.discountValue}}
    <tr class="bg-dark">
      <td>{{t "price-meter.full-price"}}</td>
      <td class="cell-days">{{estimate.totalDuration}}{{t "price-meter.day-letter"}}</td>
      <td class="cell-price">{{format-price estimate.fullPrice}}</td>
    </tr>
    <tr class="bg-secondary">
      <td>{{t "price-meter.reduction"}}</td>
      <td class="cell-days">-{{show-percent estimate.discountPercent}}%</td>
      <td class="cell-price">-{{format-price estimate.discountValue}}</td>
    </tr>
    {{/if}}
    <tr class="bg-dark">
      <td>Total</td>
      <td class="cell-days"></td>
      <td class="cell-price">{{format-price estimate.totalPrice}}</td>
    </tr>
  </tbody>
</table>

<div class="delivery-time">
  {{#if estimate.deliveryTime}}
    {{t "price-meter.delivery-time"}} : <span>{{estimate.deliveryTime}}</span> {{t "price-meter.week"}}{{if (gt estimate.deliveryTime 1) 's'}}
  {{/if}}
</div>

<div class="daily-rate">
  {{t "price-meter.daily-rate"}} : {{format-price estimate.daily_rate}}
</div>
  <table class="table table-sm discount">
    <tbody>
      <tr>
        <td>{{t "price-meter.work-duration"}}</td>
        <td>{{t "price-meter.discount"}}</td>
      </tr>
      <tr>
        <td>5{{t "price-meter.day-letter"}}</td>
        <td>-10%</td>
      </tr>
      <tr>
        <td>10{{t "price-meter.day-letter"}}</td>
        <td>-20%</td>
      </tr>
      <tr>
        <td>20{{t "price-meter.day-letter"}}</td>
        <td>-30%</td>
      </tr>
    </tbody>
  </table>
