<h3>Estimation :</h3>
<div class="text-right {{if totalPrice "" "notvisible"}}">
  {{#bs-button class="btn-sm" onClick=(action "toggleDetails")}}
    {{#if showDetails}}
      Cacher les détails
    {{else}}
      Afficher les détails
    {{/if}}
  {{/bs-button}}
</div>

{{#bs-collapse collapsed=(not showDetails)}}
  <table class="table table-dark table-sm">
    <tbody>
        {{#each model as |q|}}
          {{#if q.hasOneAnswer}}
            <tr class="bg-dark">
              <td colspan="3">{{m-t q  "title"}}</td>
            </tr>
            {{#each q.answers as |a|}}
              {{#if a.selected}}
                <tr class="bg-secondary">
                  <td>{{m-t a  "text"}}</td>
                  <td class="text-right">{{a.totalDuration}}j</td>
                  <td class="text-right">{{format-price (calculate-price dailyCost a.totalDuration)}}</td>
                </tr>
              {{/if}}
            {{/each}}
          {{/if}}
        {{/each}}
    </tbody>
  </table>
{{/bs-collapse}}

<table class="table table-dark table-sm">
  <tbody>
    {{#if discountValue}}
    <tr class="bg-dark">
      <td>Plein tarif</td>
      <td>{{totalDuration}}j</td>
      <td class="text-right">{{format-price fullPrice}}</td>
    </tr>
    <tr class="bg-secondary">
      <td>Reduction</td>
      <td>-{{show-percent discountPercent}}%</td>
      <td class="text-right">-{{format-price discountValue}}</td>
    </tr>
    {{/if}}
    <tr class="bg-dark">
      <td>Total</td>
      <td></td>
      <td class="text-right">{{format-price totalPrice}}</td>
    </tr>
  </tbody>
</table>

<div class="delivery-time">
  {{#if deliveryTime}}
    Durée de réalisation : <span>{{deliveryTime}}</span> semaine{{if (gt deliveryTime 1) 's'}}
  {{/if}}
</div>