<h4>Estimation :</h4>
<div class="text-right">
  {{#bs-button class="btn-sm"onClick=(action "toggleDetails")}}
    {{#if showDetails}}
      Cacher les détails
    {{else}}
      Afficher les détails
    {{/if}}
  {{/bs-button}}
</div>

{{#bs-collapse collapsed=(not showDetails)}}
  <table class="table table-dark table-sm">
    <tbody>
        {{#each model as |q|}}
          {{#if q.hasOneAnswer}}
            <tr>
              <td colspan="2">{{m-t q  "title"}}</td>
            </tr>
            {{#each q.answers as |a|}}
              {{#if a.selected}}
                <tr class="table-secondary">
                  <td>{{m-t a  "text"}}</td>
                  <td  class="text-right">{{format-price (calculate-price dailyCost coefficientTotal a.duration)}}</td>
                </tr>
              {{/if}}
            {{/each}}
          {{/if}}
        {{/each}}
    </tbody>
  </table>
{{/bs-collapse}}

{{!-- {{#liquid-if showDetails}} --}}
{{!-- {{/liquid-if}} --}}

<table class="table table-dark table-sm">
  <tbody>
    <tr>
      <th>Total</th>
      <th class="text-right">{{format-price totalPrice}}</th>
    </tr>
  </tbody>
</table>

<div class="delivery-time">
  {{#if deliveryTime}}
    Durée de réalisation : <span>{{deliveryTime}}</span> semaine{{if (gt deliveryTime 1) 's'}}
  {{/if}}
</div>