{{#bs-button class="button-send-email btn-lg" onClick=(action "sendEmail")}}
  {{fa-icon "envelope"}} {{t "send-email.button"}}
{{/bs-button}}

<div class="d-none">
<div id="email-subject">{{t "email.subject"}} ({{format-price totalPrice "euro"}})</div>

<div id="email-content">
<p>{{t "email.body.text"}}</p>
<p>-----------------------------------</p>
<p>Total : {{format-price totalPrice "euro"}}</p>
<p>-----------------------------------</p>
{{#each model as |q|}}
{{#if q.hasOneAnswer}}
<p>
{{m-t q  "title"}}
{{#each q.answers as |a|}}
{{#if a.selected}}
  {{m-t a  "text"}}
{{/if}}
{{/each}}
</p>
{{/if}}
{{/each}}
</div>
</div>