{{!--
{{#bs-form model=this onSubmit=(action "sendEmail") as |form|}}
  {{form.element controlType="email" label="Email" placeholder="Email" property="email" required=true}}
{{/bs-form}} --}}


{{#bs-button class="button-send-email btn-lg" onClick=(action "sendEmail")}}
  Générer un email avec vos réponses
{{/bs-button}}

<div class="d-none">
<div id="email-subject">Demande de prise de contacte suite à estimation.({{format-price totalPrice "euro"}})</div>

<div id="email-content">
<p>Voici les réponses au questionnaire.</p>
<p>-----------------------------------</p>
<p>Total : {{format-price totalPrice "euro"}}</p>
<p>-----------------------------------</p>
{{#each model as |q|}}
{{#if q.hasOneAnswer}}
<p>
{{m-t q  "title"}}
{{#each q.answers as |a|}}
{{#if a.selected}}
  {{m-t a  "text"}}
{{/if}}
{{/each}}
</p>
{{/if}}
{{/each}}
</div>
</div>