<nav class="navbar">
  <div class="container">
    <h1 class="col-lg-8 col-12 offset-lg-2">{{t "application.title"}}</h1>
    {{language-selector class="col-lg-2 col-12"}}
  </div>
</nav>

<div id="app-container" class="container">
  <div class="row">
    <div class="col-lg-8 col-12">
      {{question-list
        class="d-flex justify-content-between align-items-center"
        questions=model
      }}
      <hr>
      {{liquid-outlet}}
    </div>
    <div class="col-lg-4 col-12 mt-lg-0 mt-5">
      {{price-meter model=model }}
    </div>
  </div>
</div>

<footer class="footer">
  <div class="about">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6 col-12">
          <h5>A propos</h5>
          <div class="card p-2 d-flex flex-column">
            <div class="d-flex">
              <img class="rounded-circle author-image" src="/assets/images/gaetan.png">
              <div class="d-flex flex-column justify-content-between">
                <strong>Gaëtan MARQUET</strong>
                <em>Développeur freelance</em>
                <a href="mailto:gaetan@gmdev.eu">gaetan@gmdev.eu</a>
                <a href="tel:+33688356802">+33 6 88 35 68 02</a>
              </div>
            </div>
            <ul class="list-inline author-social-links">
              <li class="list-inline-item">
                <a class="btn btn-secondary" target="_blank" href="https://www.linkedin.com/in/gaetanmarquet/">
                  {{fa-icon "linkedin" prefix="fab"}}
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-secondary" target="_blank" href="#">
                  {{fa-icon "github" prefix="fab"}}
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-secondary" target="_blank" href="#">
                  {{fa-icon "google-plus" prefix="fab"}}
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-secondary" target="_blank" href="#">
                  {{fa-icon "twitter" prefix="fab"}}
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 col-12 mt-md-0 mt-5">
          <h5>Code</h5>
          <div class="card p-2">
            <p>
              Cette application utilise <a href="https://www.emberjs.com/" target="_blank">Ember JS</a>, <a href="https://getbootstrap.com/">Twitter Bootstrap</a> et <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>.
            </p>
            <p>
              Le code source est disponible <a target="_blank" href="https://github.com/gmarquet/estimate-my-app">ici</a>.
            </p>
            <p>
              Si vous avez des questions n'hésitez pas à me contacter.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright py-4 text-center">
    <div class="container">
      <p>
        Copyright © 2018 - Gaëtan MARQUET. Licence MIT. <a target="_blank" href="https://github.com/gmarquet/estimate-my-app">{{fa-icon "github" prefix="fab"}}</a>
      </p>
    </div>
  </div>
</footer>