{{title (t "pagetitle.index")}}

<div class="jumbotron text-center">
  <h2 class="display-4">{{t "index.welcome"}}</h2>
  <p class="lead">{{t "index.goal"}}</p>
  <hr class="my-4">
  <p>{{t "index.tip"}}</p>
  {{#link-to "question" 1 class="btn btn-primary start-questions"}}{{t "index.button"}}{{/link-to}}
</div>