<div class="question">
  {{#liquid-bind model use="question" as |currentModel|}}
    <h2 class="question-title">
      {{m-t currentModel "title"}}
    </h2>
    <p>{{m-t currentModel  "description"}}</p>

    <div class="answers d-flex flex-wrap align-content-around">
      {{#each currentModel.answers as |a|}}
        {{answer-component class="flex-fill col-lg-3 col-6 m-0" answer=a click=(action "select" a)}}
      {{else}}
        {{t 'question.no-anwser'}}
      {{/each}}
    </div>

    <div class="text-center mt-5">
      {{#bs-button class="button-next" type="primary" click=(action "next") disabled=(and (not currentModel.isValid) (not currentModel.passable))}}
        Question suivante
      {{/bs-button}}
    </div>
  {{/liquid-bind}}
</div>