<div class="question">
  {{#bs-button class="button-prev btn-small" type="primary" click=(action "prev")}}
    {{fa-icon "chevron-left" prefix="fas"}}
  {{/bs-button}}
  {{#bs-button class="button-next btn-small" type="primary" click=(action "next")}}
    {{fa-icon "chevron-right" prefix="fas"}}
  {{/bs-button}}
  {{#liquid-bind model use="question" as |currentModel|}}
    <h2 class="question-title">
      {{m-t currentModel "title"}}
    </h2>
    <p>{{m-t currentModel  "description"}}</p>

    <div class="answers d-flex flex-wrap align-content-around">
      {{#each currentModel.answers as |a|}}
        {{answer-component class="flex-fill col-3 m-0" answer=a click=(action "select" a)}}
      {{else}}
        {{t 'question.no-anwser'}}
      {{/each}}
    </div>
  {{/liquid-bind}}
</div>