<div class="question">
  {{#liquid-bind model use="question" as |currentModel|}}
    <div class="row">
      <div class="col-8">
        <h3 class="question-title">
          {{m-t currentModel  "title"}}
        </h3>
        <p>{{m-t currentModel  "description"}}</p>
      </div>
    </div>

    <div class="answers row">
      {{#each currentModel.answers as |a|}}
        <div class="col-3 m-0 p-0">
          {{answer-component answer=a click=(action "select" a)}}
        </div>
      {{else}}
        {{t 'question.no-anwser'}}
      {{/each}}
    </div>
    <div class="text-center">
      {{#if (or currentModel.multiple currentModel.passable)}}
        {{#bs-button class="button-next btn-lg" type="primary" click=(action "next")}}
          {{t 'question.next-button'}}
        {{/bs-button}}
      {{/if}}
    </div>
  {{/liquid-bind}}
</div>