{{title (t "pagetitle.send-estimate")}}

<h4>{{t "send-estimate.contact-me"}}</h4>

<hr>

{{#bs-form model=this onSubmit=(action "sendEmail") as |form|}}
  {{form.element controlType="email" label="Email" placeholder="Email" property="email" required=true}}
  {{#bs-button type="primary" buttonType="submit" disabled=isSaving}}
    {{#if isSaving}}
      {{fa-icon 'spinner' spin=true}}
    {{else}}
      {{fa-icon "envelope"}}
    {{/if}}
    {{t "send-email.button"}}
  {{/bs-button}}
{{/bs-form}}


{{#bs-alert
  visible=showError
  type="danger"
}}
  {{t 'send-estimate.error'}}
{{/bs-alert}}

{{#bs-alert
  visible=emailSended
  type="success"
}}
  {{t 'send-estimate.estimate-sended'}}
{{/bs-alert}}